.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, #root{
  background-color: #061225;
}

#loginCard{
  background-color: #030913;
}

#loginCard p {
  color: white;
}
#loginCard a{
  text-decoration: none;
}

.channels-container{
  height: 80vh;
  overflow-y: auto;
  color: white;
}
.channels-container::-webkit-scrollbar{
  width: 0px;
}
.offcanvas-body::-webkit-scrollbar{
  width: 2px;
}
.offcanvas-body::-webkit-scrollbar-thumb{
  background: #888;
}
.message-card{
  border-radius: 1rem;
/*  border: 1px solid black;*/
  display: inline-block;
  background-color: #061225;
  color: white;
}
.from-user{
  text-align: right;
}
#delete-message{
  display: none;
}

.from-user:hover > #delete-message{
  display: inline-block;
}
.message-container{
  height: 80vh;
  overflow-y: auto;
  color: black;
}
.message-container::-webkit-scrollbar{
  width: 2px;
}
.message-container::-webkit-scrollbar-thumb{
  background: #888;
}
.chat-window{
  background-color: #030913;
}
.message-bar, .search-bar{
  background-color: #061225;
  border: none;
  width: 100%;  
  border-radius: 5px;
  color: white;
}
.message-input, .search-input, .login-input{
  background-color: #061225;
  width: 90%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
}

.login-input{
  width: 100%;
  background-color: #061225;
}

.create-channel-btn{
  background-color: #061225;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
}
.message-input:focus, .search-input:focus{
  outline: none;
}
.message-input::placeholder, .search-input::placeholder{
  color: white;
  font-style: normal;
  font-weight: 200;
}
.navbar{
  background-color: rgba(0, 7, 16, 0.5);
  color: white;
}
#sidebar{
  background-color: #000710 !important;
  color: white;
}
.navbar button, .navbar span{
  
}
.deleted-message{
  border: 1px solid #888;
  background-color: rgba(0, 0, 0, 0);
  font-style: italic;
}

.modal-content{
  background-color: #000710 !important;
}
.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28288, 288, 288, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler{
  border: 1px solid white;
}